tr {
  td {
    width: 200px;

    .red {
      color: red;
    }

    .green  {
      color: green;
    }
  }
}

.add-button {
  float: right;
  margin-right: 30px;
}


.table {
  &__header {
    background-color: blue;
    color: white;
  }

  &__row {
    background-color: lightblue;
  }
}