<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="name">Dessert (100g)</th>
    <th mat-sort-header="differencePercentage">Calories</th>
    <th mat-sort-header="topPercentage">Fat (g)</th>
    <th mat-sort-header="bottomPercentage">Carbs (g)</th>
    <th mat-sort-header="currentPrice">Protein (g)</th>
  </tr>

  <tr *ngFor="let stock of sortedData">
    <td>{{stock.name}}</td>
    <td>{{stock.differencePercentage}}</td>
    <td>{{stock.topPercentage}}</td>
    <td>{{stock.bottomPercentage}}</td>
    <td>{{stock.currentPrice}}</td>
  </tr>
</table>

<router-outlet></router-outlet>